---
packages:
  yum:
    gcc-c++: []
    python3-devel: []
    git: []
option_settings:
  aws:elasticbeanstalk:application:environment:
    HNSWLIB_NO_NATIVE: "1"
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.large
    BlockDeviceMappings:
      - DeviceName: /dev/xvda
        Ebs:
          VolumeSize: 30
Resources:
  AWSEBAutoScalingLaunchConfiguration:
    Type: "AWS::AutoScaling::LaunchConfiguration"
    Properties:
      InstanceType: t2.large
      BlockDeviceMappings:
        - DeviceName: /dev/xvda
          Ebs:
            VolumeSize: 30
            VolumeType: "gp2"
